$header_bg: #131921;
$body_bg: #e3e6e6;
$bg_pr_black: #000000;
$bg_pr_white: #ffffff;
$bg_pr_orange: #f19d38;

$bg_sc_dark_black: #141920;
$bg_sc_medium: #252F3D;
$bg_sc_blue: #007185;
$bg_sc_red: #B12704;
$bg_yellow: #F4BF76;
$bg_dark_yellow: #F2A742;
$bg_orange: #C45500;
$bg_hover_orange: #B65B22;

$bg_yellow_btn: #ffd814;

$gray: #DDDDDD;
$dark_gray: #C9CCCC;
$disabled_gray: #565959;